
.circle{
    width:100px;
    height:100px;
    position: fixed;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    border:1px solid #0000f0 ;
    background-color: #0000f009;
    
    
    
    /* transition: all 1s ease-in-out; */
}